<style>
table
{
border:10px solid #003366;
padding:10px 40px; 
background: #AAEEFF;
width:300px;
border-radius:25px;
}
table
{
width:50%;
margin-left:360px;
margin-top: 70px;


}
th
{

height:100%;
}
</style>

<table>
  <tr>
    <th><h2>Change your password</h2>

<%= form_for @user, :url => update_password_path(params[:reset_password_token]) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
     <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div >
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div><br></div>
    <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>
  <div><br></div>
 <div class="actions"><%= f.submit "Update Password" %></div>
<% end %>

</th>
</tr>
</table>